.aboutSection {
    display: flex;
    justify-content: space-evenly;
    background-color: #797979;
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

.foodschmood {
    display: grid;
}

.aboutSection a {
    padding: initial;
    color: white;
    font-size: 17px;
}

.products {
    display: grid;
}

.aboutSection h1 {
    color: white;
    font-weight: 650;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .aboutSection {
        flex-direction: column;
    }
}