.Cards {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
    background: #a80092;
    flex-wrap: wrap-reverse;
}

.Cards a {
    border-radius: 15px;
    padding: 5px;
    background: #ffb800;
    margin-top: 1rem;
}

.Cards div {
    display: flex;
    flex-direction: column;
    place-content: space-between;
}