.DescriptionSection p {
    width: 50rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    margin-bottom: auto;
    padding-bottom: 1rem;
}

.DescriptionSection {
    background: #F1F1F1;
}

.DescriptionSection h1 {
    margin-top: 0;
    padding-top: 1rem;
}