.footer {
  background: #780068;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon img {
  border-radius: 90%;
  background: white;
  padding: 10px;
}

.icon a {
  text-decoration: none;
}

.icon p {
  width: min-content;
  font-weight: 500;
}

.footer button {
  padding: 10px;
  width: 13rem;
  font-size: 15px;
  font-weight: bolder;
  color: purple;
  margin: auto;
  position: relative;
  top: 7vh;
  left: 41.8vw;
}

.footer p {
  font-weight: 500;
}