.Links {
    display: flex;
    justify-content: center;
    background: linear-gradient(#871F78, #FF00FF);
    height: 27px;
    z-index: 99;
    position: sticky;
    top: 0;
}

a {
    padding-right: 3rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
}