.container {
    padding: 40px;
    background: #a80092;

}

.slick-slide img {
    margin: auto;
    width: 50%;
    border-radius: 2rem;

}

.slick-next::before {
    font-size: 40px;
    position: relative;
    right: 1rem;
}

.slick-prev::before {
    font-size: 40px;
}



@media(max-width: 800px) {
    .slick-slide img {
        width: 70%;
    }
}

@media(max-width: 450px) {
    .slick-slide img {
        width: 80%;
        height: fit-content;
    }
}

@media(max-width: 350px) {
    .slick-slide img {
        width: 90%;
        height: fit-content;
    }
}