.YourCatSection p {

    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 500;
    margin-bottom: auto;
}

.YourCatSection h1 {
    margin-top: auto;
    padding-top: 5px;
}

.YourCatSection {
    background: #F1F1F1;
}